name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/ubuntu-runner-amd64:24.04-xs", "ghcr.io/cirruslabs/ubuntu-runner-amd64:22.04-xs"]
    runs-on: ["${{ matrix.runner }}"]
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: uptime
        run: uptime
      - name: date
        run: date
      - name: install
        run: sudo apt-get install ntpdate
      - name: sync
        run: sudo ntpdate -u europe.pool.ntp.org
      - name: date
        run: date
