name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/macos-runner:sonoma", "ghcr.io/cirruslabs/macos-sonoma-xcode:latest", "macos-latest"]
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v4
      - name: List Installed Xcodes
        run: xcodes installed
      - name: Select Xcode 16 RC
        run: sudo xcodes select 16
      - name: Audio Devices
        run: system_profiler SPAudioDataType
      - name: Say
        run: say Hello
