name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/macos-runner:sonoma", "ghcr.io/cirruslabs/macos-runner:sequoia", "ghcr.io/cirruslabs/macos-runner:tahoe"]
    runs-on: ["${{ matrix.runner }}"]
    timeout-minutes: 10
    steps:
      - name: pwd before
        run: pwd
      - name: Checkout
        uses: actions/checkout@v4
      - name: disk
        run: df -h
      - name: info
        run: xcodes installed
