name: CI

on:
  schedule:
   - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  example_matrix:
    strategy:
      matrix:
        partition: [1, 2]
        
    runs-on: ghcr.io/cirruslabs/macos-ventura-xcode:latest
    timeout-minutes: 15
    
    steps:
      - name: Run a one-line script
        run: echo Hello, world!
      - name: diskutil list
        run: diskutil list
      - name: sleep
        run: sleep 100
