name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/macos-runner:tahoe", "ghcr.io/cirruslabs/macos-runner:sequoia"]
    runs-on: ["${{ matrix.runner }}"]
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Workaround
        run: time xcrun simctl runtime dyld_shared_cache update --all || xcrun simctl list >> /dev/null || true
      - name: cache
        run: |
          xcrun simctl runtime dyld_shared_cache update --all
          xcrun simctl list runtimes -v
          xcrun simctl list devices
      - name: list
        run: xcrun simctl list
      - name: env
        run: printenv
