name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: macOS
    strategy:
      matrix:
        runs_on: ["ghcr.io/cirruslabs/ubuntu-runner-arm64:22.04-sm", "ghcr.io/cirruslabs/ubuntu-runner-amd64:22.04-sm"]
    runs-on: ${{ matrix.runs_on }}
    steps:
      - uses: actions/checkout@v3
      - name: CPU info
        run: lscpu | grep MHz
      - name: uname
        run: uname -a
      - name: printenv
        run: printenv
      - name: whoami
        run: whoami
