name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run:
    name: "Run"
    strategy:
      matrix:
        version: ["tahoe", "sequoia"]
    runs-on: "ghcr.io/cirruslabs/macos-runner:${{ matrix.version }}"
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: uptime
        run: uptime
      - name: gs
        run: gs --version
