name: CI

on:
  schedule:
    - cron: "*/15 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  example_matrix:
    strategy:
      matrix:
        partition: [1, 2, 3, 4]
        
    runs-on: [self-hosted, cirrus, "ghcr.io/cirruslabs/macos-ventura-xcode:latest"]

    steps:
      - name: Run a one-line script
        run: echo Hello, world!
      
      - name: sleep 30
        run: sleep 30
      
      - name: sleep random
        run: sleep $((RANDOM % 60))

