name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["macos-14"]
    runs-on: ${{ matrix.runner }}   
    steps:
      - uses: actions/checkout@v4
      - name: Uptime
        run: uptime
      - name: IP
        run: curl ifconfig.me
      - name: Create AVD and generate snapshot for caching
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 30
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          target: google_apis
          arch: arm64-v8a
          avd-name: macOS-avd-arm64-v8a-google_apis
          channel: canary
          script: |
            set -x
            echo "Generated AVD snapshot for caching."
            adb devices
