name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/macos-runner:sonoma", "ghcr.io/cirruslabs/macos-runner:sequoia"]
    runs-on: ["${{ matrix.runner }}"]
    timeout-minutes: 10
    steps:
      - name: Check macOS version
        run: sw_vers
      - name: Uptime
        run: uptime
      - name: Disk Info
        run: df -h
      - name: List Installed Xcodes
        run: xcodes installed
      - name: List
        run: xcrun simctl list
