name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/ubuntu-runner-amd64:22.04"]
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v4
      - name: Disk Before
        run: df -h
      - name: ulimit
        run: ulimit -n $( ulimit -H -n )
      - name: Create file
        working-directory: /home/admin/actions-runner
        run: dd if=/dev/urandom of=8GB.bin bs=128M count=64 iflag=fullblock
      - name: Disk Usage Final
        if: always()
        run: df -h
