name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Test ${{ matrix.runs_on }}"
    strategy:
      matrix:
        runs_on: ["ghcr.io/cirruslabs/ubuntu-runner-amd64:22.04-sm"]
    runs-on: ${{ matrix.runs_on }}
    steps:
      - uses: actions/checkout@v3      
      - name: KVM
        run: kvm-ok
      - name: Check Speed
        run: |
          sudo apt install speedtest-cli
          speedtest-cli --secure
