name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Test ${{ matrix.runs_on }}"
    strategy:
      matrix:
        runs_on: ["ghcr.io/cirruslabs/macos-runner:sonoma"]
    runs-on: ${{ matrix.runs_on }}
    steps:
      - uses: actions/checkout@v3
      - name: Xcode Select Version
        uses: mobiledevops/xcode-select-version-action@v1
        with:
          xcode-select-version: 15.2
      - run: xcodebuild -version 
