name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  release_matrix:
        
    runs-on: ghcr.io/cirruslabs/macos-ventura-xcode:latest
    
    steps:
      - uses: actions/checkout@v3
      - name: network
        run: networkQuality
      - name: install
        run: brew install gh
      - name: generate
        run: dd if=/dev/urandom of=sample.txt bs=300M count=1
      - name: release
        run: gh release create --generate-notes v0.0.1 sample.txt
