name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["macos-14-xlarge", "ghcr.io/cirruslabs/macos-runner:sonoma", "ghcr.io/cirruslabs/macos-somona-xcode:15.3"]
    runs-on: ${{ matrix.runner }}   
    steps:
      - uses: actions/checkout@v3
      - name: Uptime
        run: uptime
      - name: Simulators
        run: xcrun simctl list
