name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/macos-runner:sequoia"]
    runs-on: ["${{ matrix.runner }}"]
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: gcc
        run: brew install gcc
      - name: Xcode Select Version
        run: sudo xcodes select 16.2
      - name: uptime
        run: uptime
      - name: reinstall bundler
        run: gem uninstall bundler && gem install bundler --version 2.6.3
      - name: bundle
        run: bundle install
