name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  linux:
    name: Linux Arm
    runs-on: ghcr.io/cirruslabs/ubuntu-runner-arm64:latest
    steps:
      - uses: actions/checkout@v3
      - name: info
        run: sudo lshw
  macos:
    name: macOS
    runs-on: ghcr.io/cirruslabs/macos-sonoma-xcode:latest
    steps:
      - uses: actions/checkout@v3
      - name: install
        run: brew update && brew tap jakehilborn/jakehilborn && brew install displayplacer
      - name: list
        run: displayplacer list
      - name: system_profiler
        run: system_profiler SPSoftwareDataType SPHardwareDataType
      - name: uname
        run: uname -a
      - name: printenv
        run: printenv
      - name: whoami
        run: whoami
