name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/macos-runner:sequoia"]
    runs-on: ["${{ matrix.runner }}"]
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: uptime
        run: uptime
      - name: date
        run: date
      - name: versions
        run: |
          swiftlint --version
          swiftgen --version
          tuist --version
          mint --version
        run: sudo ntpdate -u europe.pool.ntp.org
      - name: date
        run: date
