name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/macos-sonoma-base:latest"]
    runs-on: ${{ matrix.runner }}   
    steps:
      - uses: actions/checkout@v3
      - name: Uptime
        run: uptime
      - name: SwiftLint
        run: |
          curl -O https://github.com/realm/SwiftLint/releases/download/0.52.1/SwiftLint.pkg
          sudo installer -pkg $PWD/SwiftLint.pkg -target /
          swiftlint --version
