name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/macos-sequoia-xcode:16.2"]
    runs-on: ["${{ matrix.runner }}"]
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: uptime
        run: uptime
      - name: runtimes
        run: xcrun simctl list runtimes
      - name: devices
        run: xcrun simctl list devices
      - name: reinstall
        run: brew reinstall fastlane
      - name: bundle
        run: bundle install
