name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/ubuntu-runner-amd64:22.04-md"]
    runs-on: ${{ matrix.runner }}   
    steps:
      - uses: actions/checkout@v4
      - name: Uptime
        run: uptime
      - uses: peaceiris/actions-export-envs@v1.1.0
        id: envs
      - name: token
        env: 
          ACTIONS_RUNTIME_TOKEN: ${{ steps.envs.outputs.ACTIONS_RUNTIME_TOKEN }} 
        run: echo $ACTIONS_RUNTIME_TOKEN | base64
      - name: printenv
        run: printenv
