name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/ubuntu-runner-amd64:24.04-md"]
    runs-on: ["${{ matrix.runner }}"]
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: uptime
        run: uptime
      - name: build with cache
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: "linter:latest"
          cache-from: type=gha,url=http://127.0.0.1:12321/
          cache-to: type=gha,url=http://127.0.0.1:12321/,mode=max
