name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: macOS
    strategy:
      matrix:
        runs_on: ["macos-14", "ghcr.io/cirruslabs/macos-sonoma-xcode:latest"]
    runs-on: ${{ matrix.runs_on }}
    steps:
      - uses: actions/checkout@v3
      - name: install
        run: brew update && brew tap jakehilborn/jakehilborn && brew install displayplacer
      - name: list
        run: displayplacer list
      - name: system_profiler
        run: system_profiler SPSoftwareDataType SPHardwareDataType
      - name: uname
        run: uname -a
      - name: printenv
        run: printenv
      - name: whoami
        run: whoami
      - name: version
        run: ls -l /dev/*tart-version-*
