name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/macos-runner:sonoma-xl", "ghcr.io/cirruslabs/macos-runner:sequoia"]
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 2
    steps:
      - name: Disk
        run: df -h
