name: CI

on:
  push:

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/ubuntu-runner-amd64:24.04-md"]
    runs-on: ["${{ matrix.runner }}"]
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: uptime
        run: uptime
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: network=host
      - name: build with cache
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: "cirrus:latest"
          cache-from: type=gha,url_v2=${ACTIONS_RESULTS_URL}
          cache-to: type=gha,url_v2=${ACTIONS_RESULTS_URL},mode=max
