name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/macos-runner:sonoma"]
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v4
      - name: Disk Before
        run: df -h
      - name: Create file
        run: dd if=/dev/urandom of=8GB.bin bs=128M count=64 iflag=fullblock
      - name: Disk After
        run: df -h
