name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/macos-runner:sonoma"]
    runs-on: ${{ matrix.runner }}   
    steps:
      - uses: actions/checkout@v3
      - name: Uptime
        run: uptime
      - name: Repro
        run: echo "url=https://github.com/cirruslabs"$'\n'"username=unused"$'\n'"password123"$'\n' | sudo git credential approve
