name: CI

on:
  #schedule:
  #  - cron: "*/30 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  example_matrix:
    strategy:
      matrix:
        partition: [1, 2 , 3]
        
    runs-on: ghcr.io/cirruslabs/macos-ventura-xcode:latest

    steps:
      - name: Run a one-line script
        run: echo Hello, world!
      
      - name: sleep 300
        run: sleep 300

