name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Test ${{ matrix.runs_on }}"
    strategy:
      matrix:
        runs_on: ["ghcr.io/cirruslabs/ubuntu-runner-amd64:22.04-sm"]
    runs-on: ${{ matrix.runs_on }}
    steps:
      - uses: actions/checkout@v3      
      - name: Cache Load
        id: cache-bin
        uses: actions/cache/restore@v4
        with:
          path: testfile
          key: test-key
  
      - name: Generate Binary
        if: steps.cache-bin.outputs.cache-hit != 'true'
        run: dd if=/dev/urandom of=testfile bs=1024 count=102400
  
      - name: Stat Binary
        run: stat testfile
        
      - name: Cache Save
        if: steps.cache-bin.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: testfile
          key: test-key
