name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/macos-runner:sonoma"]
    runs-on: ${{ matrix.runner }}   
    steps:
      - uses: actions/checkout@v3
      - name: Uptime
        run: uptime
      - name: Diagnostic Reports
        uses: actions/upload-artifact@v4
        with:
          name: diagnostic-reports
          path: ~/Library/Logs/DiagnosticReports
