name: CI

on:
  # schedule:
   # - cron: "*/60 * * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    name: "Run"
    strategy:
      fail-fast: false
      matrix:
        runner: ["ghcr.io/cirruslabs/macos-sequoia-xcode:16.3", "ghcr.io/cirruslabs/macos-sequoia-xcode:16.2", "ghcr.io/cirruslabs/macos-sequoia-xcode:16.1"]
    runs-on: ["${{ matrix.runner }}"]
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: uptime
        run: uptime
      - name: rubies
        run: rbenv versions
      - name: bundle
        run: bundle install
