name: GHA V2 Twirp-based cache
on:
  push:
jobs:
  macos:
    name: "${{ matrix.runs_on }} + edigaryev/cache@v4"
    strategy:
      matrix:
        runs_on:
          #- "ghcr.io/cirruslabs/ubuntu-runner-amd64:22.04-sm"
          - "ghcr.io/cirruslabs/macos-sonoma-xcode:latest"
    runs-on: ${{ matrix.runs_on }}
    steps:
      - uses: actions/checkout@v4
      - name: Print environment
        run: env
      - name: Cache Binary
        id: cache
        uses: edigaryev/cache@v4
        with:
          path: testfile
          key: "try-5-${{ matrix.runs_on }}"
      - name: Generate Binary
        if: steps.cache.outputs.cache-hit != 'true'
        run: dd if=/dev/urandom of=testfile bs=65536 count=3200
      - name: Stat Binary
        run: stat testfile
