name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  playwright:
    name: 'Playwright Tests'
    runs-on: ghcr.io/cirruslabs/ubuntu-runner-amd64:22.04-md
    container:
      image: mcr.microsoft.com/playwright:v1.51.0-noble
      options: --user root
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
